apiVersion: skaffold/v2beta7
kind: Config
metadata:
  name: go-skaffold
build:
  artifacts:
  - image: jonny/go-skaffold
    docker:
      dockerfile: devops/Dockerfile
deploy:
  kustomize:
    paths:
      - kustomization.yaml
