apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-app
spec:
  replicas: 1
  selector:
    matchLabels:
  template:
    metadata:
      labels:
    spec:
      containers:
        - name: go-skaffold
          image: jonny/go-skaffold
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8001
            - containerPort: 56268
